configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    matching: "fuzzy";
    sort: true;
}

@theme "~/.config/rofi/themes/theme.rasi"