@import url("../theme/waybar-current-color-scheme.css");

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 10px;
    opacity: 1;
	padding: 0px 0px;
}

#waybar {
	background: alpha(@surface_container, 0);
	/* border-radius: 25px; */
	opacity: 1;
}

/* CPU Status */
#cpu,
#custom-cpuinfo {
	color: @on_primary;
	border-radius: 5px;
	padding: 0px 3px;
	margin: 0px 0px;
}

#cpu-info-group {
	background: @primary;
	border-radius: 10px;
	padding: 1px 6px;
	margin: 2px 2px 2px 3px;
}

/* workspace样式 */
#workspaces {
	background: alpha(@primary_container, 0.8);
	border-radius: 999px;
	padding: 1px 1px;
	margin: 0px 2px;
}

/* workspace 按钮样式 */
#workspaces button {
  	padding: 3px 3px;
  	margin: 1px 1px;
  	border-radius: 15px;
  	background: transparent;
  	color: @on_primary_container;
  	border: 1px solid transparent;
}

/* 正在使用的 workspace */
#workspaces button.active {
  	background: alpha(@primary, 0.4);
	border-radius: 15px;
  	color: @on_primary;
}

/* 鼠标悬停的 workspace */
#workspaces button:hover {
  	border-color: alpha(@tertiary, 0.7);
}

/* 有窗口但不在当前显示器（urgent）的 workspace*/
#workspaces button.urgent {
  	background: alpha(@secondary, 0.3);
  	color: @on_secondary;
}

#window {
	color: @on_tertiary_container;
	margin: 2px 0px;
    padding: 0 5px;
	border-radius: 0;
}

#wm-workspaces-window-group {
	background: @tertiary_container;
	border-radius: 10px;
	padding: 1px 2px;
	margin: 2px 5px 2px 5px;
}


/* 鼠标悬停时变色 */
#custom-cpuinfo:hover,
#temperature.cpu:hover,
#temperature.gpu:hover,
#network:hover,
#pulseaudio:hover,
#custom-powerButton:hover {
  background: alpha(@primary_container, 0.95);
}

/*---------- 中间部分 ----------*/
/* divs */
#custom-applauncher {
	font-size: 20px;
	background: @primary;
	color: @on_primary;
    font-size: 15px;
    padding: 0px 10px;
    margin: 2px 0px;
	border-radius: 0; 
}
#custom-applauncher:hover {
	color: @tertiary
}

#cava {
	background: @primary;
	color: @on_primary;
	padding: 0px 2px;
    margin: 2px 0px;
	border-radius: 0px;
}

#custom-divInnerLeft,
#custom-divInnerRight {
	/*background: @primary;*/
    color: @primary;
	padding: 0px;
    margin: 2px 0px;
    font-size: 30px;
	border-radius: 0;
}

/* #cava.updated {
	background: @secondary;
} */

/* 时钟与屏幕亮度按钮 */
#clock,
#backlight {
	background: @primary_container;
  	color: @on_primary_container;
	border-radius: 0px;
	padding: 1px 6px;
	margin: 2px 0;
}

#custom-divMiddleLeftFront,
#custom-divMiddleRightFront {
	background: @tertiary_container;
	color: @primary_container;
	padding: 0px;
    margin: 2px 0px;
    font-size: 30px;
    border-radius: 0;
}

#custom-divMiddleLeftTail,
#custom-divMiddleRightTail {
	/* background: @primary; */
	color: @primary_container;
	padding: 0px;
    margin: 2px 0px;
    font-size: 30px;
    border-radius: 0;
}

#custom-divOutterLeftFront,
#custom-divOutterRightFront {
	color: @tertiary_container;
	padding: 0px;
	margin: 2px 0px;
	font-size: 30px;
	border-radius: 0;
}


#custom-divOutterLeftTail,
#custom-divOutterRightTail{
	background: @tertiary_container;
	color: @tertiary_container;
	padding: 0px;
	margin: 2px 0px;
	font-size: 30px;
	border-radius: 0;
}

#custom-screenShotButton,
#custom-gamemodeButton {
	background: @tertiary_container;
  	color:  @on_tertiary_container;
	border-radius: 0px;
	padding: 0px 7px;
	margin: 2px 0;
}



/*---------- 右半部分 ----------*/
/* 网络/音量/电池 */
#network,
#pulseaudio,
#battery {
  	color: @on_tertiary_container;
  	border-radius: 10px;
	margin: 0px 2px;
	padding: 1px 3px;
}

#net-audio-bat-group {
	background: @tertiary_container;
	border-radius: 10px;
	padding: 1px 3px;
	margin: 2px 3px;
}

#tray {
	background: @primary_container;
  	color: @on_primary_container;
  	border-radius: 10px;
	margin: 2px 3px;
	padding: 1px 6px;
}

#custom-powerButton {
	background: @primary;
	color: @on_primary;
	border-radius: 999px;
	margin: 2px 2px 2px 3px;
	padding: 1px 3px;
}
