// [Inputs]
include "inputs.kdl"

// [Output Monitors]
include "outputs.kdl"

// [Keybindings]
include "keybindings.kdl"

// [Startups]
include "startups.kdl"

// [Layouts]
include "layouts.kdl"

// [Animations]
include "animations.kdl"

// [Window Rules]
include "windowrules.kdl"

// [Env Variables]
include "envvariables.kdl"
