// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-sh-at-startup "swww-daemon" // Wallpaper daemon
spawn-sh-at-startup "clash-verge"
spawn-sh-at-startup "waybar" // Launch waybar
spawn-sh-at-startup "mako"
spawn-sh-at-startup "fcitx5"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

prefer-no-csd // Disable program decorations
screenshot-path null // Disable screenshot saving